@using FinancesBlazor.ViewManager;
@using FinancesBlazor.Components.Grid.Filters;
@using System.Text.Json.Nodes;

<button class="btn btn-primary" @onclick="ReloadDataRequest"><span class="fa fa-refresh"></span></button>

@if (Parameters?.Columns != null && Data != null)
{
<table class="table">
    
    <thead>
        <tr>
                @foreach (var column in Parameters.Columns)
            {
                <th>
                    <div class="dropdown">
                        <button class="btn columnHeader" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @column.Title <span hidden="@ColumnHeaderArrowHidden(column, true)"><span class="fa fa-arrow-down"></span></span><span hidden="@ColumnHeaderArrowHidden(column, false)"><span class="fa fa-arrow-up"></span></span>
                        </button>
                        <div class="dropdown-menu columnFilter" aria-labelledby="dropdownMenuButton">
                                <DynamicFilter Column="@column" ParametersChanged="ReloadDataRequest" />
                        </div>
                    </div>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Data)
        {
            <tr>
                    @foreach (var column in Parameters.Columns)
                    {
                        <td>@GridValueFormatter.GetFormattedString(@row?[column.Data], column)</td>
                    }
            </tr>
        }
    </tbody>
</table>
}
@code {
    [Parameter]
    public ViewListParameters? Parameters { get; set; }

    [Parameter]
    public List<JsonNode>? Data { get; set; }

    [Parameter]
    public string? ColumnFilterVisible { get; set; }

    [Parameter]
    public EventCallback ReloadDataRequested { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ReloadDataRequest();
    }

    private void CloseFilter()
    {
        ColumnFilterVisible = string.Empty;
    }
    private async Task ColumnHeaderClick(GridColumn column)
    {
        if (ColumnFilterVisible == column.Data)
            CloseFilter();
        else
            ColumnFilterVisible = column.Data;
        // if (Settings == null)
        //     return;
        // if (Settings.SortingColumnDataName == column.Data)
        //     Settings.SortingDescending = !Settings.SortingDescending;
        // else
        // {
        //     Settings.SortingColumnDataName = column.Data;
        //     Settings.SortingDescending = false;
        // }
        // await ReloadData();
    }

    private bool ColumnHeaderArrowHidden(GridColumn column, bool descending) => Parameters?.SortingColumnDataName != column.Data || Parameters.SortingDescending != descending;

    private async Task ReloadDataRequest()
    {
        CloseFilter();
        await ReloadDataRequested.InvokeAsync();
    }
}
