@using FinancesBlazor.ViewManager;
@using FinancesBlazor.Components.Grid.Filters;
@using System.Text.Json.Nodes;
@using Radzen.Blazor.Rendering;
@inject ViewManager _viewManager;

<div class="toolbar">
    <button class="btn btn-primary" @onclick="() => ReloadDataRequest()"><span class="fa fa-refresh"></span></button>
    <button class="btn btn-primary" @onclick="() => RequestFilterClear()"><span class="fa-layers fa-fw"><i class="fa fa-filter"></i><i class="fa-solid fa-xmark fa-lg red"></i></span></button>
</div>

@if (Parameters?.Columns != null)
{
    <table class="table table-borderless">
        <thead>
            <tr>
                @foreach (var column in Parameters.Columns)
                {
                    <th>
                        <div class="@(column.Align == Align.Right ? "text-end dropdown" : "dropdown")">
                            <button class="btn columnHeader" type="button" @ref=columnHeaders[column] @onclick="@(args => columnFilters[column].ToggleAsync(columnHeaders[column]))">@column.Title <span hidden="@ColumnHeaderArrowHidden(column, true)"><span class="fa fa-arrow-down blue"></span></span><span hidden="@ColumnHeaderArrowHidden(column, false)"><span class="fa fa-arrow-up yellow"></span></span></button>
                                <Popup @ref=columnFilters[column] Lazy=false Open="@(() => OnOpen(column))" class="popup" Style="display:none;position:absolute;padding:5px;border:1px">
                                    <DynamicFilter Column=column ParametersChanged="ReloadDataRequest" @ref=dynamicFilters[column] />
                            </Popup>
                        </div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Data != null)
            {
                @foreach (var row in Data)
                {
                    <tr>
                        @foreach (var column in Parameters.Columns)
                        {
                            <td class="@GetCellStyle(column)">@GridValueFormatter.GetFormattedString(@row?[column.Data], column)</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}
@code {
    Dictionary<Column, ElementReference> columnHeaders = new();
    Dictionary<Column, Popup> columnFilters = new();
    Dictionary<Column, DynamicFilter> dynamicFilters = new();

    [Parameter]
    public ViewListParameters? Parameters { get; set; }

    [Parameter]
    public List<JsonNode>? Data { get; set; }

    [Parameter]
    public EventCallback<bool> ReloadDataRequested { get; set; }

    private string GetCellStyle(Column column)
    {
        var result = "";
        if (column.Align == Align.Right)
            result += "text-end ";
        if (column.DataType == DataAccess.DataTypes.Date || column.DataType == DataAccess.DataTypes.Precision)
            result += "text-nowrap ";
        return result;
    }

    protected override async Task OnInitializedAsync()
    {
        await ReloadDataRequest();
    }

    private async Task CloseFilter()
    {
        foreach (var kvp in columnFilters)
            await kvp.Value.CloseAsync();
    }

    private bool ColumnHeaderArrowHidden(Column column, bool descending) => Parameters?.SortingColumnDataName != column.Data || Parameters.SortingDescending != descending;

    private async void RequestFilterClear()
    {
        if (_viewManager?.ActiveView?.Parameters?.Filters == null)
            return;

        _viewManager.ActiveView.Parameters.Filters.Clear();
        await ReloadDataRequest(true);
    }

    private async Task ReloadDataRequest(bool closeFilters = true)
    {
        if (closeFilters) await CloseFilter();
        await ReloadDataRequested.InvokeAsync(closeFilters);
    }

    async Task OnOpen(Column column)
    {
        await dynamicFilters[column].OnOpen();
    }
}
